[submodule "dotfiles/vim/bundle/Vundle.vim"]
	path = dotfiles/vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "todo.txt-cli"]
	path = todo.txt-cli
	url = git@github.com:ginatrapani/todo.txt-cli.git
[submodule "get-shit-done"]
	path = get-shit-done
	url = git@github.com:leftnode/get-shit-done.git
